Copyright (C) 2020 Edouard Fouch√©

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

In [1]:
import math

import matplotlib as mpl
from matplotlib import cm
mpl.rcParams['text.usetex'] = True 
mpl.rcParams['text.latex.preamble'] = r'\usepackage{libertine}' 
mpl.rc('font', family='serif')

import numpy as np
import pandas as pd
import seaborn as sns
import copy

import matplotlib.pyplot as plt
from matplotlib import rc

from cycler import cycler

mpl.rcParams['ps.usedistiller'] = 'xpdf' 
plt.style.use('seaborn-notebook')

plt.rcParams['axes.titlesize'] = '25'
plt.rcParams['axes.labelsize'] = '25'
plt.rcParams['legend.fontsize'] = '15'
plt.rcParams['xtick.labelsize'] = '15'
plt.rcParams['ytick.labelsize'] = '15'

monochrome=(cycler('color', sns.color_palette("husl", 8))*2+(cycler('marker', ['v', 's', "o"])*7)[0:16])
plt.rc('axes', prop_cycle=monochrome)

pd.options.display.max_rows = 999
pd.options.display.max_columns = None
cmap = cm.get_cmap('RdBu')

In [2]:
folder = "2020-02-11-17-22_Evaluate_KJNN_" # replace

In [3]:
masterdata = pd.read_csv("../experiments/" + folder + "/Evaluate_KJNN.csv")

In [4]:
masterdata.columns

Index(['scoreId', 'dataset', 'bmId', 'k', 'j', 'nwords', 'ndocs', 'emb', 'cpu',
       'wall', 'cpurep', 'cpuindex', 'cpucache', 'c', 'p', 'entropythreshold',
       'miss', 'typeBrecall', 'typeBprecision', 'typeArecall',
       'typeAprecision', 'typeAauc', 'typeAap', 'typeBr1', 'typeBr2',
       'typeBr5', 'typeBr10', 'typeBr20', 'typeBr30', 'typeBp1', 'typeBp2',
       'typeBp5', 'typeBp10', 'typeBp20', 'typeBp30', 'typeBr1N', 'typeBr2N',
       'typeBr5N', 'typeBr10N', 'typeBr20N', 'typeBr30N', 'typeBp1N',
       'typeBp2N', 'typeBp5N', 'typeBp10N', 'typeBp20N', 'typeBp30N',
       'typeAr1', 'typeAr2', 'typeAr5', 'typeAr10', 'typeAr20', 'typeAr30',
       'typeAp1', 'typeAp2', 'typeAp5', 'typeAp10', 'typeAp20', 'typeAp30',
       'avgmiss', 'stdmiss', 'avgmatch', 'stdmatch', 'rep'],
      dtype='object')

In [5]:
masterdata["p"].unique()

array([ 0.  ,  0.01,  0.02,  0.05,  0.1 ,  0.2 ,  0.3 ,  0.4 ,  0.5 ,
        0.6 ,  0.7 ,  0.8 ,  0.9 ,  0.95,  0.98,  1.  ])

In [6]:
masterdata["rep"].unique()

array([1, 3, 2, 5, 4])

In [7]:
masterdata["k"].unique()

array([30])

In [8]:
subdata = masterdata[(masterdata["k"] == 30) & (masterdata["j"] == 30) 
                    & (masterdata["c"] == 0.2)& 
                     ([x in [0.9] for x in masterdata["p"]])]

In [9]:
subdata["cpu_combo"] = subdata['cpu'] + subdata['cpuindex'] + subdata['cpucache']

/home/fouchee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
att = ["typeAauc", "typeAap", "typeAr1", "typeAr2", "typeAr5"]

In [11]:
a = subdata.groupby(["dataset", "p", "c", "j"])["typeAauc", "typeAap", "typeAr1", "typeAr2", "typeAr5", "cpu"].mean()
a[a.columns] = round(a[a.columns]*100,2)
a

                     typeAauc  typeAap  typeAr1  typeAr2  typeAr5          cpu
dataset  p   c   j
arxiv_15 0.9 0.2 30     54.21     1.17     0.00     0.00     0.00   5585520.64
arxiv_25 0.9 0.2 30     70.61     4.38     6.96    14.35    26.96   6743119.38
arxiv_35 0.9 0.2 30     72.91     3.19     5.16     9.35    20.97   9246284.39
arxiv_45 0.9 0.2 30     68.60     3.60     6.06    10.10    19.39  14538948.49
arxiv_51 0.9 0.2 30     63.52     2.12     3.39     7.26    17.90  18404953.02
arxiv_52 0.9 0.2 30     77.82     3.00     3.23     7.26    19.68  18333612.72
arxiv_53 0.9 0.2 30     78.05     4.24     6.29    12.74    28.06  18459928.68
arxiv_54 0.9 0.2 30     76.44     3.31     3.87     9.52    19.03  18472948.32
arxiv_55 0.9 0.2 30     76.76     3.35     5.65    10.32    21.94  18342332.98
nyt_1    0.9 0.2 30     92.70    20.31    29.60    43.00    66.60  12187760.68
nyt_10   0.9 0.2 30     92.27    13.44    14.00    22.00    34.00   1472647.37
nyt_2    0.9 0.2 30     94.35    45.68    32.20    46.80    66.70  12845608.91
nyt_20   0.9 0.2 30     91.70     7.40     7.00    14.00    38.00   2886952.34
nyt_5    0.9 0.2 30     97.15    71.77    19.24    36.52    68.24  13112279.68
nyt_50   0.9 0.2 30     94.45    29.03    34.80    46.80    67.20   6872626.67

In [12]:
times = ['cpu', 'cpurep', 'cpuindex', 'cpucache', 'cpu_combo']
a = subdata.groupby(["dataset", "p", "c", "j"])[times].mean()
a[times] = round(a[times] / 1000,2)
a

                        cpu   cpurep  cpuindex  cpucache  cpu_combo
dataset  p   c   j
arxiv_15 0.9 0.2 30   55.86    26.46     15.62      8.36      79.84
arxiv_25 0.9 0.2 30   67.43    38.19     21.40     13.26     102.09
arxiv_35 0.9 0.2 30   92.46    57.47     25.17     25.11     142.75
arxiv_45 0.9 0.2 30  145.39    62.49     48.90     76.32     270.61
arxiv_51 0.9 0.2 30  184.05   142.94     60.26    119.80     364.11
arxiv_52 0.9 0.2 30  183.34   141.97     58.32    118.95     360.60
arxiv_53 0.9 0.2 30  184.60   144.38     63.80    119.82     368.22
arxiv_54 0.9 0.2 30  184.73   142.15     60.50    120.23     365.47
arxiv_55 0.9 0.2 30  183.42   142.98     66.87    119.91     370.21
nyt_1    0.9 0.2 30  121.88  2307.14    109.74    143.29     374.91
nyt_10   0.9 0.2 30   14.73   159.54     13.86      2.25      30.84
nyt_2    0.9 0.2 30  128.46  2508.87    109.42    157.38     395.25
nyt_20   0.9 0.2 30   28.87   339.73     27.32      7.87      64.06
nyt_5    0.9 0.2 30  131.12  2817.59    117.31    167.41     415.84
nyt_50   0.9 0.2 30   68.73  1091.12     67.66     41.95     178.34

In [13]:
subdata = masterdata[(masterdata["k"] == 30) & ((masterdata["j"] == 30) | (masterdata["j"] == 0))
                    & (masterdata["c"] == 0.2)& 
                     ([x in [0.9, 1.0] for x in masterdata["p"]])]

In [14]:
subdata["cpu"] = round(subdata["cpu"] / 1000,2)

/home/fouchee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
att = [ "typeBrecall", "typeBprecision", "typeBr1", "typeBr2", "typeBr5", "typeBr10", "typeBr20",
       "typeArecall", "typeAprecision", "typeAr1", "typeAr2", "typeAr5"]
subdata[att] = round(subdata[att]*100,2)

/home/fouchee/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [16]:
subdata["B-F1"] = 2* (subdata["typeBrecall"]*subdata["typeBprecision"]) / (subdata["typeBrecall"]+subdata["typeBprecision"])

/home/fouchee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
subdata.groupby(["dataset", "p", "c", "j"])[
                                       "typeBrecall", "typeBprecision", "B-F1",
                                            "typeBr1", "typeBr2", "typeBr5", "typeBr10", "typeBr20",
                                         "typeArecall", "typeAprecision", 
                                            "typeAr1", "typeAr2", "typeAr5"].max()

                     typeBrecall  typeBprecision       B-F1  typeBr1  typeBr2  \
dataset  p   c   j
arxiv_15 0.9 0.2 30         0.00            0.00        NaN     0.00     0.00
         1.0 0.2 30         0.00            0.00        NaN     0.00     0.00
arxiv_25 0.9 0.2 30        90.12           96.36  93.135598     4.96     9.84
         1.0 0.2 30        98.57           91.78  94.797425     4.96     9.84
arxiv_35 0.9 0.2 30        88.23           81.10  83.979033     5.03    10.06
         1.0 0.2 30        95.96           73.59  83.299279     5.03    10.06
arxiv_45 0.9 0.2 30        88.01           70.63  78.306362     4.93     9.78
         1.0 0.2 30        95.97           64.22  76.808690     4.93     9.78
arxiv_51 0.9 0.2 30        89.37           71.70  79.534971     4.93     9.89
         1.0 0.2 30        97.55           64.42  77.545923     4.93     9.89
arxiv_52 0.9 0.2 30        89.02           71.62  79.233049     4.99     9.98
         1.0 0.2 30        97.14           63.89  77.082216     4.99     9.98
arxiv_53 0.9 0.2 30        88.47           70.74  78.463408     4.91     9.87
         1.0 0.2 30        97.34           64.01  77.033438     4.91     9.87
arxiv_54 0.9 0.2 30        88.17           70.82  78.548329     4.99     9.95
         1.0 0.2 30        97.06           63.76  76.845711     4.99     9.95
arxiv_55 0.9 0.2 30        89.15           71.30  79.180714     4.95     9.94
         1.0 0.2 30        97.39           63.62  76.802363     4.95     9.94
nyt_1    0.9 0.2 30        91.30           96.55  93.548240     5.05    10.08
         1.0 0.2 30        99.50           86.54  92.562866     5.05    10.08
nyt_10   0.9 0.2 30        91.00           89.45  89.902697     5.08    10.15
         1.0 0.2 30        99.00           81.48  89.389628     5.08    10.15
nyt_2    0.9 0.2 30        91.28           95.28  93.012282     5.11    10.22
         1.0 0.2 30        99.30           83.39  90.589663     5.11    10.22
nyt_20   0.9 0.2 30        91.54           94.41  92.812074     5.03    10.05
         1.0 0.2 30        99.25           84.22  90.801992     5.03    10.05
nyt_5    0.9 0.2 30        94.21           93.17  93.214593     5.28    10.56
         1.0 0.2 30        99.45           76.03  86.177154     5.28    10.56
nyt_50   0.9 0.2 30        91.39           96.39  93.738080     5.02    10.13
         1.0 0.2 30        99.60           85.69  91.908426     5.02    10.13

                     typeBr5  typeBr10  typeBr20  typeArecall  typeAprecision  \
dataset  p   c   j
arxiv_15 0.9 0.2 30     0.00      0.00      0.00         0.00            0.00
         1.0 0.2 30     0.00      0.00      0.00         0.00            0.00
arxiv_25 0.9 0.2 30    24.78     49.56     90.12        43.48            4.36
         1.0 0.2 30    24.78     49.56     96.27         0.00            0.00
arxiv_35 0.9 0.2 30    24.92     48.99     84.17        37.10            3.69
         1.0 0.2 30    24.92     48.99     84.17         0.00            0.00
arxiv_45 0.9 0.2 30    24.23     46.46     77.88        32.32            3.20
         1.0 0.2 30    24.23     46.46     77.88         0.00            0.00
arxiv_51 0.9 0.2 30    24.09     46.64     79.42        33.06            3.26
         1.0 0.2 30    24.09     46.64     79.42         0.00            0.00
arxiv_52 0.9 0.2 30    24.62     47.51     79.57        45.16            4.46
         1.0 0.2 30    24.62     47.51     79.57         0.00            0.00
arxiv_53 0.9 0.2 30    24.24     47.22     77.94        48.39            4.78
         1.0 0.2 30    24.24     47.22     77.94         0.00            0.00
arxiv_54 0.9 0.2 30    24.49     47.02     78.72        38.71            3.82
         1.0 0.2 30    24.49     47.02     78.72         0.00            0.00
arxiv_55 0.9 0.2 30    24.50     47.44     78.61        41.13            4.06
         1.0 0.2 30    24.50     47.44     78.61         0.00            0.00
nyt_1    0.9 0.2 30    25.20     50.33     91.30        84.00            8.32
         1.0 0.2 30    25.20     50.33     94.60         0.00            0.00
nyt_10   0.9 0.2 30    25.38     51.27     90.36        70.00            6.93
         1.0 0.2 30    25.38     51.27     91.37         0.00            0.00
nyt_2    0.9 0.2 30    25.50     50.90     91.28        82.50           16.18
         1.0 0.2 30    25.50     50.90     94.39         0.00            0.00
nyt_20   0.9 0.2 30    25.38     50.75     91.54        70.00            6.93
         1.0 0.2 30    25.38     50.75     92.96         0.00            0.00
nyt_5    0.9 0.2 30    26.29     52.59     94.21        87.60           41.71
         1.0 0.2 30    26.29     52.59     95.31         0.00            0.00
nyt_50   0.9 0.2 30    25.28     50.55     91.39        84.00            8.32
         1.0 0.2 30    25.28     50.55     94.88         0.00            0.00

                     typeAr1  typeAr2  typeAr5
dataset  p   c   j
arxiv_15 0.9 0.2 30     0.00     0.00     0.00
         1.0 0.2 30     0.00     0.00     0.00
arxiv_25 0.9 0.2 30    13.04    21.74    34.78
         1.0 0.2 30     0.00     0.00     0.00
arxiv_35 0.9 0.2 30     8.06    12.90    24.19
         1.0 0.2 30     0.00     0.00     0.00
arxiv_45 0.9 0.2 30     7.07    12.12    25.25
         1.0 0.2 30     0.00     0.00     0.00
arxiv_51 0.9 0.2 30     4.03     9.68    24.19
         1.0 0.2 30     0.00     0.00     0.00
arxiv_52 0.9 0.2 30     5.65    10.48    26.61
         1.0 0.2 30     0.00     0.00     0.00
arxiv_53 0.9 0.2 30     8.87    16.13    32.26
         1.0 0.2 30     0.00     0.00     0.00
arxiv_54 0.9 0.2 30     5.65    12.10    21.77
         1.0 0.2 30     0.00     0.00     0.00
arxiv_55 0.9 0.2 30     7.26    13.71    26.61
         1.0 0.2 30     0.00     0.00     0.00
nyt_1    0.9 0.2 30    33.00    46.00    71.00
         1.0 0.2 30     0.00     0.00     0.00
nyt_10   0.9 0.2 30    20.00    30.00    40.00
         1.0 0.2 30     0.00     0.00     0.00
nyt_2    0.9 0.2 30    33.50    51.00    70.00
         1.0 0.2 30     0.00     0.00     0.00
nyt_20   0.9 0.2 30    10.00    25.00    45.00
         1.0 0.2 30     0.00     0.00     0.00
nyt_5    0.9 0.2 30    19.80    37.20    69.80
         1.0 0.2 30     0.00     0.00     0.00
nyt_50   0.9 0.2 30    42.00    52.00    70.00
         1.0 0.2 30     0.00     0.00     0.00

In [18]:
subdata.groupby(["dataset", "p", "c", "j"])["k", "ndocs", "cpu", 
                                            "typeArecall", "typeAprecision", 
                                       "typeAr1", "typeAr2", "typeAr5"].max()

                      k  ndocs     cpu  typeArecall  typeAprecision  typeAr1  \
dataset  p   c   j
arxiv_15 0.9 0.2 30  30   3919   57.22         0.00            0.00     0.00
         1.0 0.2 30  30   3919   57.22         0.00            0.00     0.00
arxiv_25 0.9 0.2 30  30   4596   68.62        43.48            4.36    13.04
         1.0 0.2 30  30   4596   68.62         0.00            0.00     0.00
arxiv_35 0.9 0.2 30  30   6233   93.98        37.10            3.69     8.06
         1.0 0.2 30  30   6233   93.98         0.00            0.00     0.00
arxiv_45 0.9 0.2 30  30  10003  149.07        32.32            3.20     7.07
         1.0 0.2 30  30  10003  149.07         0.00            0.00     0.00
arxiv_51 0.9 0.2 30  30  12564  186.55        33.06            3.26     4.03
         1.0 0.2 30  30  12564  186.55         0.00            0.00     0.00
arxiv_52 0.9 0.2 30  30  12564  187.57        45.16            4.46     5.65
         1.0 0.2 30  30  12564  187.57         0.00            0.00     0.00
arxiv_53 0.9 0.2 30  30  12564  188.63        48.39            4.78     8.87
         1.0 0.2 30  30  12564  188.63         0.00            0.00     0.00
arxiv_54 0.9 0.2 30  30  12564  188.49        38.71            3.82     5.65
         1.0 0.2 30  30  12564  188.49         0.00            0.00     0.00
arxiv_55 0.9 0.2 30  30  12564  186.92        41.13            4.06     7.26
         1.0 0.2 30  30  12564  186.92         0.00            0.00     0.00
nyt_1    0.9 0.2 30  30  10100  138.03        84.00            8.32    33.00
         1.0 0.2 30  30  10100  138.03         0.00            0.00     0.00
nyt_10   0.9 0.2 30  30   1010   14.87        70.00            6.93    20.00
         1.0 0.2 30  30   1010   14.87         0.00            0.00     0.00
nyt_2    0.9 0.2 30  30  10200  141.02        82.50           16.18    33.50
         1.0 0.2 30  30  10200  141.02         0.00            0.00     0.00
nyt_20   0.9 0.2 30  30   2020   29.36        70.00            6.93    10.00
         1.0 0.2 30  30   2020   29.36         0.00            0.00     0.00
nyt_5    0.9 0.2 30  30  10500  138.03        87.60           41.71    19.80
         1.0 0.2 30  30  10500  138.03         0.00            0.00     0.00
nyt_50   0.9 0.2 30  30   5050   73.75        84.00            8.32    42.00
         1.0 0.2 30  30   5050   73.75         0.00            0.00     0.00

                     typeAr2  typeAr5
dataset  p   c   j
arxiv_15 0.9 0.2 30     0.00     0.00
         1.0 0.2 30     0.00     0.00
arxiv_25 0.9 0.2 30    21.74    34.78
         1.0 0.2 30     0.00     0.00
arxiv_35 0.9 0.2 30    12.90    24.19
         1.0 0.2 30     0.00     0.00
arxiv_45 0.9 0.2 30    12.12    25.25
         1.0 0.2 30     0.00     0.00
arxiv_51 0.9 0.2 30     9.68    24.19
         1.0 0.2 30     0.00     0.00
arxiv_52 0.9 0.2 30    10.48    26.61
         1.0 0.2 30     0.00     0.00
arxiv_53 0.9 0.2 30    16.13    32.26
         1.0 0.2 30     0.00     0.00
arxiv_54 0.9 0.2 30    12.10    21.77
         1.0 0.2 30     0.00     0.00
arxiv_55 0.9 0.2 30    13.71    26.61
         1.0 0.2 30     0.00     0.00
nyt_1    0.9 0.2 30    46.00    71.00
         1.0 0.2 30     0.00     0.00
nyt_10   0.9 0.2 30    30.00    40.00
         1.0 0.2 30     0.00     0.00
nyt_2    0.9 0.2 30    51.00    70.00
         1.0 0.2 30     0.00     0.00
nyt_20   0.9 0.2 30    25.00    45.00
         1.0 0.2 30     0.00     0.00
nyt_5    0.9 0.2 30    37.20    69.80
         1.0 0.2 30     0.00     0.00
nyt_50   0.9 0.2 30    52.00    70.00
         1.0 0.2 30     0.00     0.00